.luzRoja{
    color: red;
    background-color: red;
}
.luzAmarilla{
    color: yellow;
    background-color: yellow;
}
.luzVerde{
    color: green;
    background-color: green;
}
.luzNegra{
    color: black;
    background-color: black;
}
.luzMagenta{
    color: magenta;
    background-color: magenta;
}